
//************************************
//************   Button   ************
//************************************

.btn{
  @include btn();
  &.black{
    background-color: $black;
    color: $white;
    position: relative;
    &:before{
      content: '';
      @include bg-btn-colorful-gradient(1);
    }
    &:hover{
      &:before{
        left:7px;
        top:7px;
      }
    }
  }

  &.white{
    @include transition(all, 0.6s);
    &:hover{
      color: $white;
      background-color: $black;
    }
  }

}

a.btn{
  display:  inline;
}





.btn-container{
  @include flex(flex, row, nowrap,ai_center);
  margin-top: 25px;
  .btn-wrapper{
    margin-left:25px;
    &:nth-of-type(1){
      margin-left:0px;
    }
  }
  @media screen and (max-width: $responsive-1024){
    margin-top: 18px;
  }

  @media screen and (max-width: $responsive-480){
    @include flex(flex, column, wrap,ai_start);
    .btn-wrapper{
      margin-left:0px;
    }
  }
}


.btn-wrapper{
  padding: 25px 0;
}

