
.content-panel-section{
  @include width-center(1320px, 50px 30px);
  @include flex(flex, row, nowrap);
  .cp-left{
    width: 29%;
  }
  .cp-right{
    width: 71%;
    padding-left: 50px;
  }
}


@media screen and (max-width: $responsive-760){

  .content-panel-section {
    @include width-center(1320px, 30px 30px);
  }

}




@media screen and (max-width: $responsive-650){


  .content-panel-section{
    @include flex(flex, row, wrap);
    .cp-left{
      width: 100%;
      max-width: 450px;
      margin-bottom: 15px;
    }
    .cp-right{
      width: 100%;
      padding-left: 0px;
    }
  }
}