
.full-width-content-panel{
  width: calc(100% - 5vw);
  margin: 50px 0;
  margin-left: 5vw;
  @include bg-cover();
  position: relative;

  .common-banner-gradient{
    background-color: rgba(0,0,0,0.6);
    @include active-overlay();
  }
  .fw-content-panel-section{
    @include width-center(1320px, 18vw 30px 50px);
    @include flex(flex, row, nowrap);

    h1,h2,h3,h4,h5,h6,p,a,b,strong{
      color: $white;
    }

    .cp-left{
      width: 29%;
    }
    .cp-right{
      width: 71%;
      padding-left: 50px;
    }
  }
}



@media screen and (max-width: $responsive-760){

  .full-width-content-panel {
      margin: 30px 0;
  }

}


@media screen and (max-width: $responsive-650){


  .full-width-content-panel{
    width: 100%;
    margin-left: 0px;
    .fw-content-panel-section{
      @include flex(flex, row, wrap);
      padding-top: 140px;
      .cp-left{
        width: 100%;
        max-width: 450px;
        margin-bottom: 15px;
      }
      .cp-right{
        width: 100%;
        padding-left: 0px;
      }
    }
  }
}