
.home-panel-two-section{
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
  .home-panel-two-wrapper{
    @include flex(flex, row, nowrap,ai_start);
    .hpt-left-content{
      width: 40%;
      z-index: 1;
      top:15.6vw;
      left: 10.4vw;
      &:before{
        left: -5.2vw;
        top: -5.2vw;
      }
      .hpt-left-inner-content{
        background-color: $white;
        padding: 5.4vw;
        @include box-shadow();
      }
    }

    .hpt-right-content{
      width: 60%;
      .main-img{
        width: 100%;
        height: 35.6vw;
        position: relative;
        @include bg-cover();
        h2{
          width: 29vw;
          min-width: 370px;
          font-size: 6vw;
          line-height: 5vw;
          position: absolute;
          color: $white;
          bottom: 80px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

      }
      .second-img{
        @include bg-cover();
        position: relative;
        left: 10.4vw;
        width: 27.2vw;
        min-width: 440px;
        height: 17.2vw;
        min-height: 279px;
      }
    }
  }
}


@media screen and (max-width: $responsive-1440){

  .home-panel-two-section {
    .home-panel-two-wrapper {
      .hpt-left-content {
        .hpt-left-inner-content{
          p{
            font-size: 14px;
            line-height: 26px;
          }
        }
      }
      .hpt-right-content{
        .main-img{
          h2{
            font-size: 82px;
            line-height: 70px;
          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-1200){

  .home-panel-two-section {
    .home-panel-two-wrapper {
      @include flex(flex, row, wrap);
      .hpt-left-content {
        order: 2;
        width: 90%;
        @include width-center(980px, 0 30px );
        margin-top: -80px;
        left: inherit;
        top:-80px;
        top:inherit;
        &:before{
          display: none;
        }

        .hpt-left-inner-content{
        }
      }
      .hpt-right-content{
        order: 1;
        width: 100%;
        .main-img{
          height: 470px;
          h2{
            bottom: 110px;
            width: 80%;
          }
        }
        .second-img{
          display: none;
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-760){

  .home-panel-two-section {
    padding-bottom: 30px;
    .home-panel-two-wrapper {
      .hpt-right-content {
        .main-img {
          h2{
            width: 100%;
            padding: 0 30px;
            bottom: 100px;
          }
        }
      }
    }
  }

}