
.homeslider-outer-wrapper{
  width: calc(100% - 55px);
  margin-bottom: 75px;
  position: relative;
  .home-slider-container{
    .home-slides{
      width: 100%;
      height: calc(100vh - 75px);
      min-height: 680px;
      display: block !important;
      @include bg-cover();
      .black-gradient{
        @include active-overlay();
        @include black-gradient();
      }

      .slider-content{
        width: 90%;
        max-width: 1500px;
        position: absolute;
        bottom: 100px;
        left: 0px;
        @include flex(flex, row, nowrap,ai_center);

        .sl-content {
          width: 50%;
          //padding: 80px;
          padding: 4.2vw;
          @include flex(flex, ai_center, jc_center);
          h1{
            @include flex(flex, jc_center);
            position: relative;
            color: white;
            font-size: 6.5vw;
            line-height:5.2vw;
          }
        }

        .sr-content{
          width: 50%;
          padding: 20px 2vw 20px 4vw;
          p,h6{
            color: $white;
          }
        }

      }
    }



    .slick-prev,.slick-next{
      z-index: 1;
      width: 40px;
      height: 40px;
      left: auto;
      top: auto;
      &:before{
        font-size: 28px;
        color: $white;
        @include font-awesome();
      }
    }

    .slick-prev{
      right: 55px;
      bottom: 10%;
      &:before{
        content: "\f104";
      }
    }
    .slick-next{
      right: 55px;
      bottom: 5%;
      &:before{
        content: "\f105";
      }
    }




  }

  .slide-number{
    height: 60%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 45px;
    @include flex(flex,ai_center);
    span{
      min-width: 50px;
      font-size: 14px;
      font-weight:600;
      color: $white;
    }

    &:before,
    &:after{
      content:"";
      position: absolute;
      left: 18px;
      height: 40%;
      width: 1px;
      border-left: 2px solid $white;
    }
    &:before{
      top:0px;
    }
    &:after{
      bottom:0px;
    }

  }
}



@media screen and (max-width: $responsive-1280){

  .homeslider-outer-wrapper {
    .home-slider-container {
      .home-slides {
        .slider-content {
          .sl-content{
            width: 47%;
          }
          .sr-content{
            width: 53%;
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1366){

  .homeslider-outer-wrapper {
    width: calc(100% - 50px);
    .slide-number{
      right: 25px;
    }

    .home-slider-container{
      .slick-prev,
      .slick-next{
        right: 38px;
      }
    }

  }

}

@media screen and (max-width: $responsive-1024){

  .homeslider-outer-wrapper {
    margin-bottom: 60px;
    .home-slider-container {
      .home-slides {
        height: calc(100vh - 60px);
        .slider-content {
          bottom: 40px;
          @include flex(flex, row, wrap);
          .sl-content{
            width: 100%;
            max-width: 520px;
            h1{
              font-size: 84px;
              line-height: 68px;
            }
          }
          .sr-content{
            width: 100%;
            max-width: 630px;
            padding: 30px 2vw 20px 4vw;
          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-760){

  .homeslider-outer-wrapper {
    width: 100%;
    margin-bottom: 55px;
    .home-slider-container {
      .home-slides {
        height: calc(100vh);
        min-height: 760px;
        .slider-content {
          width: 84%;

          .sl-content{
            max-width: fit-content;
            padding: 25px 40px;
            @include flex(flex, jc_start);
            h1{
              font-size: 55px;
              line-height: 44px;
            }
          }
          .sr-content{
          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-500){

  .homeslider-outer-wrapper {
    .slide-number{
      right: 10px;
    }

    .home-slider-container {
      .slick-prev,
      .slick-next{
        right: 20px;
        &:before{
          font-size: 24px;
        }
      }
    }

  }

}