
.image-content-panel{
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
  @include flex(flex, row, nowrap, ai_center);

  .info-container{
    padding: 20px 6vw 20px 5vw;
    width: 55%;
  }
  .image-container{
    width: 45%;
    .img-bg{
      height: 31vw;
      @include bg-cover();

      @media screen and (max-width: $responsive-1024){
        height: 335px;
      }
    }
  }
}


@media screen and (max-width: $responsive-960){


  .image-content-panel{
    //padding: 30px 0;
    @include flex(flex, row, wrap);
    .info-container{
      order: 2;
      padding: 20px 5vw 20px 5vw;
      width: 100%;
    }
    .image-container{
      order: 1;
      width: 100%;
      margin-bottom: 20px;
      .img-bg{
        margin: 0 5vw;
        height: 320px;
      }
    }
  }


}