
.map-wrapper{
  padding: 75px 0 95px;
  width: 100%;
  overflow: hidden;
  .map-inner-wrapper{
    @include flex(flex, row, nowrap,ai_center);
    .map-info{
      width: 43%;
      padding-left: 5vw;
      .social{
        margin-top: 15px;
        @include flex(flex, row, nowrap,ai_center);
        li{
          margin-right: 2vw;
          i{
            font-size: 22px;
          }
        }
      }
    }
    .map-container{
      width: 57%;
      .snazzy-map-container{
        margin-left: 15px;
        width: calc(100% - 15px);
        &:before{
          left: -15px;
          top: 15px;
          opacity: 1;
        }
        .snazzy-map{
          width: 100%;
          height: 610px;

            .map-popup-info{
              padding: 10px;
              p{
                @include font(15px ,2px);
              }
            }

            .gm-style-iw-t{
              &:after{
                display: none;
              }
            }
        }
      }

    }
  }


}



@media screen and (max-width: $responsive-1366){

  .map-wrapper {
    .map-inner-wrapper {
      .map-container {
        .snazzy-map-container{
          .snazzy-map{
            height: 438px;
            .map-popup-info{
              padding: 5px;
              h6{
                font-size: 30px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-1024){

  .map-wrapper {
    .map-inner-wrapper {
      .map-info{
        width: 48%;
      }
      .map-container {
        width: 52%;
        .snazzy-map-container {
          .snazzy-map{

          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-760){

  .map-wrapper {
    padding: 50px 0 65px;
    .map-inner-wrapper {
      .map-info{
        width: 100%;
        padding: 0 5vw;
      }
      .map-container {
        display: none;
      }
    }
  }

}