
.news-wrapper{

  //margin-bottom: 50px;
  padding: 50px 0;
  .news-title{
    margin-bottom: 3.4vw;
    @include width-center(1560px, 0px 40px);
    text-align: right;

    &.left{
      @include width-center(100%, 0px);
      padding-left: 5vw;
      text-align: left;
    }
  }

  .news-container-outer{
    @include width-center(1560px, 50px 40px 0px);

    .news-slider{
      @include flex(flex, row, nowrap,ai_start);
      margin: 0 -40px;
      .single-news{
        padding: 0 40px;
        h6{
          color: $black1;
          margin-bottom: 0.3vw;
        }
        p.date{
          //@include font-teko();
          letter-spacing:0.1em;
          color: $grey1;
          font-weight:700;
          margin-bottom: 0.8vw;
          font-size: 15px;
        }
        .btn-wrapper{
          margin-top: 1vw;
        }
      }
    }

  }
}


@media screen and (max-width: $responsive-1366){

  .news-wrapper {
    .news-container-outer {
      @include width-center(1560px, 50px 60px 0px);

      .news-slider {
        margin: 0 -15px;
        .single-news {
          padding: 0 15px;
          h6{
            @include font(25px, -2px);
          }
          p{
            @include font(14px, 12px);
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1200){

  .news-wrapper {

    .news-title{
      padding: 0px 5vw 0px;
        text-align: left;
    }

    .news-container-outer {
      padding: 0px 5vw 0px;

      .news-slider{
        padding-top: 60px;
        margin-top: -25px;


        .slick-prev,.slick-next{
          z-index: 1;
          width: 40px;
          height: 40px;
          left: auto;
          top: auto;
          &:before{
            font-size: 28px;
            color: $black !important;
            @include font-awesome();
          }
        }

        .slick-prev{
          //right: 55px;
          top: 0px;
          left:50%;
          &:before{
            content: "\f053";
            opacity: 1;
            padding-right: 30px;
          }
        }
        .slick-next{
          top: 0px;
          left:50%;
          &:before{
            content: "\f054";
            opacity: 1;
            padding-left: 30px;
          }
        }


      }
    }
  }

}




@media screen and (max-width: $responsive-960){

  .news-wrapper {
    .news-container-outer {
      .news-slider{
        padding-top: 75px;
        margin-top: 0px;
        .slick-next,
        .slick-prev{
          left: 0px;
          top:25px;
          &:before{
            font-size: 22px;
          }
        }

        .slick-prev{
          &:before{
            padding-right: 0px;
          }
        }
        .slick-next{
          &:before{
            padding-left: 80px;
          }
        }

      }
    }
  }

}



@media screen and (max-width: $responsive-760){

  .news-wrapper {
    padding: 30px 0;
  }

}


@media screen and (max-width: $responsive-600){

  .news-wrapper {
    width: 100%;
    overflow: hidden;
    .news-container-outer {
      width: 170%;
      .news-slider {
        .single-news{

        }
      }
    }
  }

}