
.benefits-section{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  .benefits-section-wrapper{
    @include flex(flex, row, nowrap,ai_center);
    width: calc(100% + 395px);

    .sl-content{
      width: 39%;
      height: 647px;
      margin-right: 15px;
      .sl-content-inner{
        height: 100%;
        background-color: $black;
        @include flex(flex,row, wrap, ai_center);
        .benefit-title{
          padding-left: 5vw;
          max-width: 60%;
          h2{
            font-size: 6vw;
            line-height: 5vw;
            color: $white;
          }
        }
      }
      &:before{
        left:15px;
        top:15px;
        opacity: 1;
      }
    }

    .benefits-slider-wrapper{
      position: relative;
      width: calc(61% + 150px);
      //left: -225px;
      left:-11vw;
      .benefits-slider-container{
        @include flex(flex, row, nowrap,ai_center);
        margin: 0 -15px;
        padding-left: 75px;
        .benefit-slide{
          width: 33.33% ;
          //width: 468px !important;
          padding: 0 15px;
          .benefit-slide-inner{
            position: relative;
            height: 380px;
            overflow: hidden;
            @include bg-cover();
            .black-gradient{
              @include active-overlay();
              @include black-gradient();
            }
            .slide-content{
              position: absolute;
              padding: 25px;
              bottom: -70px;
              left: 0;
              @include transition();
              h6{
                color: $white;
              }
              .btn-wrapper{
                visibility: hidden;
                opacity: 0;
                @include transition();
              }
            }

            &:hover{
              .slide-content{
                bottom: 0px;
                .btn-wrapper{
                  visibility: visible;
                  opacity: 1;
                  @include transition();
                }
              }
            }

          }
        }
      }
    }


    .slick-prev,.slick-next{
      z-index: 1;
      width: 40px;
      height: 40px;
      left: auto;
      top: auto;
      &:before{
        font-size: 28px;
        color: $white;
        opacity: 1;
        @include font-awesome();
      }
    }
    .slick-prev{
      left: 15px;
      bottom: 10%;
      &:before{
        content: "\f104";
      }
    }
    .slick-next{
      left: 15px;
      bottom: 0%;
      &:before{
        content: "\f105";
      }
    }

  }

  .slide-number{
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0px;
    @include flex(flex,ai_center);
    span{
      min-width: 50px;
      font-size: 14px;
      font-weight:600;
      color: $white;
    }

    &:before,
    &:after{
      content:"";
      position: absolute;
      left: 18px;
      height: 40%;
      width: 1px;
      border-left: 2px solid $white;
    }
    &:before{
      top:0px;
    }
    &:after{
      bottom:0px;
    }

  }
}




@media screen and (max-width: $responsive-1366){

  .benefits-section {
    .benefits-section-wrapper {
      .sl-content {
        height: 470px;
        .sl-content-inner{
        }
      }

      .benefits-slider-wrapper {
        .benefits-slider-container {
          .benefit-slide {
            .benefit-slide-inner{
              height: 275px;
            }
          }
        }
      }

    }
  }

}






@media screen and (max-width: $responsive-1024){

  .benefits-section {
    .benefits-section-wrapper {
      .sl-content {
        width: 48%;
        height: 465px;
        .sl-content-inner{
          .benefit-title{
            h2{
              font-size: 84px;
              line-height: 70px;
            }
          }
        }
      }

      .benefits-slider-wrapper {
        width: calc(52% + 150px);
        left: -15vw;
        .benefits-slider-container {
          padding-left: 67px;
          .benefit-slide {
            padding: 0 10px;
            .benefit-slide-inner{
              height: 272px;
            }
          }
        }
        .slick-prev{
          bottom: 7%;
        }
        .slick-next{
          bottom: -4%;
        }
      }

    }
  }

}



@media screen and (max-width: $responsive-760){

  .benefits-section {
    .benefits-section-wrapper {
      width: 100%;

      @include flex(flex, row, wrap);
      .sl-content {
        width: 100%;
        height: 440px;
        .sl-content-inner{
          .benefit-title{
            max-width: min-content;
          }
        }
      }

      .benefits-slider-wrapper {
        width: calc(100% + 250px);
        left: auto;
        padding-left: 60px;
        margin-top: -80px;
        .benefits-slider-container {
          padding-left: 0px;
          .benefit-slide{

          }
        }

        .slick-prev,.slick-next{
          &:before{
            font-size: 22px;
          }
        }
        .slick-prev{
          left:auto;
          bottom: auto;
          right: 302px;
          top: calc(-30% + 15px);
        }
        .slick-next{
          left:auto;
          bottom: auto;
          right: 302px;
          top: calc(-30% + 40px);
        }
      }

    }

    .slide-number{
      top: -280px;
      left: auto;
      right: 277px;
      span{
        font-size: 13px;
      }
    }

  }

}