
.two-content-panel-container{
  @include width-center(1580px, 30px 40px);
  .two-content-panel{
    @include flex(flex, row, nowrap);
    .two-content-single-panel{
      width: 50%;
      &:nth-of-type(1) {
        padding-right: 20px;
      }
      &:nth-of-type(2){
        padding-left: 20px;
      }
    }

  }
}




@media screen and (max-width: $responsive-1024){
  .two-content-panel-container{
    .two-content-panel{
      @include flex(flex,row,wrap);
      .two-content-single-panel{
        width:100%;
        &:nth-of-type(1) {
          padding-right: 0px;
          margin-bottom:50px;
        }
        &:nth-of-type(2){
          padding-left: 0px;
        }
      }
    }
  }
}