

.site-footer{
  background-color: $black;
  p,a{
    color: $white;
  }
  .footer-container{
    padding: 70px 40px;
    @include flex(flex,jc_space_between, ai_center);

    .fl{
      .fl-logo{
        margin-bottom: 20px;
      }
      .fl-menu{
        .menu{
          @include flex(flex,row,nowrap);
          li{
            padding-right: 3vw;
            a{
              font-size: 14px;
            }
          }
        }
      }
    }

    .fr{
      text-align: right;
      .menu{
        margin-bottom: 20px;
        @include flex(flex,row,nowrap,jc_end);
        li{
          padding-left: 3vw;
          a{
            text-transform: uppercase;
            @include font-teko();
            font-size: 22px;
          }
        }
      }
      p,a{
        font-size: 12px;
        &.copyright{
          @include font(16px, -4px);
          a{

          }
        }
      }
    }

  }
}



@media screen and (max-width: $responsive-1200){

  .site-footer {
    .footer-container {
      @include flex(flex,row,wrap);
      .fl {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
        .fl-menu {
          .menu {
            @include flex(flex,row,wrap, jc_center);
            li{
              padding: 0 1.5vw;
            }
          }
        }
      }
      .fr{
        width: 100%;
        text-align: center;
        .menu {
          margin-bottom: 20px;
          @include flex(flex, row, wrap, jc_center);
          li{
            padding: 0 1.5vw;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-650){

  .site-footer {
    .footer-container {
      padding: 50px 30px;
      .fl {
        .fl-logo{
          @include width-center(240px, 0px 0px);
          margin-bottom: 15px;
          img{
            max-width: 100%;
          }
        }
        .fl-menu {
          .menu{
            @include flex(flex, row, wrap, jc_center);
            li{
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

}