
//****************************************************
//**********  Header/Para/Other Elemet Tag  **********
//****************************************************
ul,li{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  @include font(16px,12px);
  font-weight:600;
  @media screen and (max-width: $responsive-1024){
    @include font(14px, 8px);
  }
}


strong,b{
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
  @include font-teko();
  font-weight:400;
  text-transform: uppercase;
}

h1{
  @include font(124px, -24px);
  @media screen and (max-width: $responsive-1366){
    @include font(90px, -20px);
  }
}

h2{
  @include font(119px, -24px);
  @media screen and (max-width: $responsive-1366){
    @include font(86px, -18px);
  }
}


h3{
  @include font(100px);
}

h4{
  @include font(80px);
}

h5{
  @include font(50px);
}

h6{
  color: $black1;
  @include font(35px,-2px);
  font-weight:500;
}


ul.menu{
  list-style: none;
}







//***************************************************
//**********        Alert/Message          **********
//***************************************************
.message-alert,
.payment-message{
  margin: 5px 0;
  position: relative;
  p{
    color: $white;
    background-color: $red;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  p.success{
    background-color: $green;
  }
}






//***************************************************
//**********  Common Colourfull Gradients  **********
//***************************************************

.overlay-colourfull{
  @include bg-colorful-gradient();
}

.overlay-colourfull-before{
  position: relative;
  &:before{
    content: '';
    @include bg-colorful-gradient();
  }
}







//***************************************************
//**********        Common Banner          **********
//***************************************************

.common-banner-page {
  width: calc(100% - 55px);
  @include bg-cover();
  height: 540px;
  margin-bottom: 75px;
  position: relative;

  .common-banner-gradient{
    background-color: rgba(0,0,0,0.6);
    @include active-overlay();
  }

  .info-content{
    padding-left: 5.2vw;
    padding-top:  4vw;
    height: 100%;
    @include flex(flex, row, nowrap,ai_center);
    h1{
      color: $white;
      @include font(104px, -24px);
      @media screen and (max-width: $responsive-1366){
        @include font(70px, -14px);
      }
    }
  }
}


@media screen and (max-width: $responsive-760){

  .common-banner-page {
    width: 100%;
    height: 410px;
    margin-bottom: 50px;
  }

}










.alignright{
  float: right;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}

.alignleft{
  float: left;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}



//Google map default style - Hide
.gmnoprint,
.gmnoscreen,
.gm-style-cc,
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
  display: none;
}