

header.site-header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  @include transition();
  @include gradient(to bottom);
  .header-wrap{
    @include flex(flex, row, nowrap, ai_center, jc_space_between);
    padding-left: 40px;
    .top-left{

    }
    .top-right{
      .header-menu{
        display: none;
      }
      .navbars{
        cursor: pointer;
        @include gradient-green();
        background-color: $white;
        padding: 55px;
        i.fa{
          color: $grey-dark1;
          font-size: 26px;
        }
      }
    }
  }

  &.dark{
    @include gradient-dark();
  }
}






@media screen and (max-width: $responsive-1366){

  header.site-header {
    .header-wrap {
      .top-right {
        .navbars{
          padding: 42px;
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-760){

  header.site-header {
    .header-wrap {
      .top-left {
        .logo{
          img{
            max-width: 260px;
          }
        }
      }

      .top-right {
        .navbars{
          padding: 38px;
        }
      }

    }
  }

}



@media screen and (max-width: $responsive-480){

  header.site-header {
    .header-wrap {
      .top-left {
        .logo{
          img{
            max-width: 220px;
          }
        }
      }

    }
  }

}