
$white : #ffffff;

$black : #000000;
$black1 : #292929;

$grey-dark1 : #333333;
$grey1 : #909090;

$green : #00f9d7;
$green-shadow : #00393e;

$red : #9C3F40;


$breakpoints: (
        desktop: 1700px,
        laptop: 1440px,
        tablet: 1024px,
        phone: 855px,
);




$responsive-1440 : 1440px;
$responsive-1366 : 1366px;
$responsive-1280 : 1280px;
$responsive-1200 : 1200px;
$responsive-1100 : 1100px;
$responsive-1024 : 1024px;
$responsive-960 : 960px;
$responsive-840 : 840px;
$responsive-800 : 800px;
$responsive-760 : 760px;
$responsive-700 : 700px;
$responsive-650 : 650px;
$responsive-600 : 600px;
$responsive-550 : 550px;
$responsive-500 : 500px;
$responsive-480 : 480px;




